#wordle-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
   
}

#wordle-input { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.row {
    margin-bottom: 5px; 
    display: flex;
    column-gap: 5px;
    row-gap: 15px;
    justify-content: space-evenly;
}

.cell {
    font-weight: bold;
    font-size: 3rem;
    width: 4rem;
    height: 4rem;
    border: 1px solid black;
    text-align: center;
    line-height: 1.25em;
    color: var(--color-white);
    vertical-align: middle;
}

.color-wrong {
    background-color: var(--color-wrong);
}

.color-correct {
    background-color: var(--color-correct);
}

.color-close {
    background-color: var(--color-close);
}
.color-warning {
    background-color: var(--color-warning);
}

.wordle-container:focus {
    outline: none;
}


*:focus {
    outline: none;
}

.spin-anim {
    animation: spin 0.5s forwards;
}

.invalid-guess-anim {
    animation: sidetoside 0.75s forwards;
}

.win-anim {
    animation: upanddown 0.5s forwards;
}

@keyframes sidetoside {
    10%, 90% {
        transform: translateX(-5px)
    }

    20%, 80% {
        transform: translateX(7px)
    }

    30%, 50%, 70% {
        transform: translateX(-11px)
    }

    40%, 60% {
        transform: translateX(11px)
    }
}

@keyframes upanddown {
    0% {
        transform: translateY(30%);
    }

    25% {
        transform: translateY(-30%);
    }

    50% {
        transform: translateY(-35%);
    }

    75% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0%);
    }
}

@keyframes spin {
    0% {
        opacity: 0;
        transform: rotateY(180deg);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg);
    }
}