

#header-text {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header-row {
    color: var(--color-grey);
}

.modal-close-button {
    display: block;
    margin: 40px auto;
    border: 0;
    border-radius: 8px;
    padding: 7px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--color-correct);
    color: var(--color-white);
    transition: all 240ms linear;
}

    .modal-close-button:hover {
        filter: brightness(0.8);
    }

    .modal-close-button:active {
        transform: scale(0.9);
    }

dialog {
    margin: 10% auto;
    width: 80%;
    max-width: 350px;
    background-color: #fff;
    padding: 34px;
    border: 0;
    border-radius: 5px;
    background-color: var(--color-white);
}

dialog > p {
    text-align: center;
    margin: 0;
}

dialog > p:first-of-type {
    margin: 0 auto 20px;
    font-size: 32px;
    font-weight: 600;
}

dialog > button {
    margin: 20px auto;
}