root {
    --color-background: #121312;
    --color-wrong: #3a3a3c;
    --color-correct: #538d4e;
    --color-close: #b59f3b;
    --color-none: #ff6a00;
}



#header-text {
    /*    

    margin-top: 2em;*/
    /*flex-direction: column;*/
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
}

.header-row {
    color: var(--color-grey);
    /*display: flex;*/
    /*justify-content: space-evenly;*/
}

