root {
    --color-background: #121312;
    --color-wrong: #3a3a3c;
    --color-correct: #538d4e;
    --color-close: #b59f3b;
    --color-none: #ff6a00;
    --color-pink: #ff00dc;
}



#header-text {
    /*    

    margin-top: 2em;*/
    /*flex-direction: column;*/
    display: flex;
    /*align-items: center;*/
    justify-content: center;
    text-align: center;
}

.header-row {
    color: var(--color-grey);
    /*display: flex;*/
    /*justify-content: space-evenly;*/
}

.modal-close-button {
    display: block;
    margin: 40px auto;
    border: 0;
    border-radius: 8px;
    padding: 7px 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    background: rgb(0, 149, 246);
    cursor: pointer;
    color: #FFF;
    transition: all 240ms linear;
}

    .modal-close-button:hover {
        filter: brightness(0.8);
    }

    .modal-close-button:active {
        transform: scale(0.9);
    }

dialog {
    margin: 10% auto;
    width: 80%;
    max-width: 350px;
    background-color: #fff;
    padding: 34px;
    border: 0;
    border-radius: 5px;
}

    dialog > p {
        text-align: center;
        margin: 0;
    }

        dialog > p:first-of-type {
            margin: 0 auto 20px;
            font-size: 32px;
            font-weight: 600;
        }

    dialog > button {
        margin: 20px auto;
    }