@page "/"
@using System.Reflection

<div>
<div id="header-text" class="">
    <div class="header-row">
        <h1>Wordle.NET.WASM</h1>
        <h3>build @BuildNumber</h3>
    </div>
</div>


<WordleBoard />

</div>
@code {
    string BuildNumber { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        BuildNumber = typeof(Program).Assembly.GetName().Version!.ToString();
        // BuildNumber = Assembly.GetExecutingAssembly().ManifestModule.ModuleVersionId;
        return base.OnInitializedAsync();
    }
}