@page "/"
@using System.Reflection
@using Wordle.NET.Models
@inject IJSRuntime JS
@implements IDisposable
@inject NotifierService Notifier
@inject TimerService Timer

<div>
    <div id="header-text" class="">
        <div class="header-row">
            <h1 @onclick="HeaderClicked">Wordle.NET.WASM</h1>
            <h3>build @BuildNumber</h3>
            <h5>Mees Altena 2024</h5>
        </div>
    </div>


    <dialog class="game-won-modal">
        <p>@ModalHeader</p>
        <p>@ModalSubHeader</p>
        <button @onclick="async () =>await  CloseModal(false)" class="modal-close-button">Close</button>
        <button @onclick="async () => await CloseModal(true)" class="modal-close-button">Go again</button>
    </dialog>
    <WordleBoard  @key="boardId" OnGuessesCallback="(value) => GuessedCorrectCallback(value)" />

</div>

<style>
    ::backdrop {
        background-image: @ModalGradient;
        opacity: 0.75;
    }
</style>

<script>
    window.HideGameWonModal = () => {
        var modal = document.querySelector('.game-won-modal');
        modal.close();
    };
    window.ShowGameWonModal = () => {
        var modal = document.querySelector('.game-won-modal');
        modal.showModal();
    };
</script>

@code {
    string BuildNumber { get; set; } = string.Empty;
    private Guid boardId = Guid.NewGuid();
    private Guess? WinningGuess { get; set; } = null;
    private (string key, int value) lastNotification;
    private string ModalGradient { get; set; } = string.Empty;
    private string ModalHeader { get; set; } = string.Empty;
    private string ModalSubHeader { get; set; } = string.Empty;

    protected override Task OnInitializedAsync()
    {
        Notifier.Notify += OnNotify;
        BuildNumber = typeof(Program).Assembly.GetName().Version!.ToString();
        return base.OnInitializedAsync();
    }

    private void HeaderClicked()
    {
        boardId = Guid.NewGuid();
        Console.WriteLine("Clicked");
    }


    public async Task OnNotify(string key, int value)
    {
        await InvokeAsync(async () =>
        {
            await JS.InvokeVoidAsync("ShowGameWonModal");
            lastNotification = (key, value);
            StateHasChanged();
        });
        Timer.Stop();
    }

    private void StartTimer()
    {
        _ = Task.Run(() => Timer.Start(TimeSpan.FromSeconds(1)));
    }


    private async Task CloseModal(bool reset)
    {
        if (reset)
        {
            boardId = Guid.NewGuid();
        }
        await JS.InvokeVoidAsync("HideGameWonModal");
    }

    private void GuessedCorrectCallback(Guess? g)
    {
        StartTimer();
        if (g != null)
        {
            WinningGuess = g;
            // TODO move modal to separate component
            ModalGradient = "linear-gradient( 45deg,var(--color-background), var(--color-correct), var(--color-grey))";
            ModalHeader = "Congratulations!";
            ModalSubHeader = $"You won! The word was {@WinningGuess}!";

        } else
        {
            ModalGradient = "linear-gradient( 45deg,#B53CA2, var(--color-wrong), var(--color-grey))";
            ModalHeader = "Unlucky...";
            ModalSubHeader = $"You lost! try again?";
        }
    }

    public void Dispose() => Notifier.Notify -= OnNotify;
}